.tableHeader {
   color : #282828;
   background : #FFF;
   border-bottom : 1px solid #CCC;
   height : 50px;
   width : 100%;
   justify-content : center;
   align-items : center;
   display : flex;
}

.tableContainer {
   display : flex;
   flex-direction : column;
   margin : 20px;
}

.formHeader {
   align-items : center;
   display : flex;
   flex-direction : row;
   color : #282828;
   height : 50px;
   border-bottom : 1px solid #CCC;
   width : 100%;
}

.formHeader h2 {
   font-align : center;
   width : 100%;
}

.backButton {
   height : 30px;
   display : flex;
   cursor : pointer;
   position : fixed;
}

.tableCreateButton {
   margin-bottom : 10px;
   height : 40px;
   width : 80px;
   font-align : center;
}

.formFooter {
   padding-right : 50px;
}

.btn-footer {
   height : 50%;
   width : 70px;
}

.btn-danger {
   margin-right : 10px;
}

.btn-primary {
   
}

.formBody {
   padding-top : 20px;
   display : flex;
   overflow-Y : scroll;
}

.formFooter {
   display : flex;
   height : 70px;
   border-top : 1px solid #CCC;
   flex-direction : row;
   justify-content : flex-end;
   align-items : center;
}
